#playpause{
    background-color: aqua;
    width: 100px;
    height: 100px;

}
.controller{
    width: 100px;
    height: 100px;
}
canvas{
    width: 500px;
    height: 500px;
    border: 1px solid brown;
}